{% extends 'base.html' %}
{% block title %}Domain Leaks {% endblock title %}

{% block content %}
<div class="mx-4 my-4">
  <div class="flex flex-col w-full xl:w-5/6  mx-auto gap-6 lg:flex-row mb-6">
    <div class="flex flex-col border-2 border-red-200 w-full xl:w-1/2 shadow-lg bg-white p-6 rounded-lg">
      <div class="flex gap-2 items-center  text-2xl font-semibold mx-auto">Domain <span> <img
            src="/static//images/globe.png" height="25" width="25" alt="cards"></span> </div>
      <div class=" flex flex-col ">
        <div class="flex items-center justify-around w-full gap-2 pt-4">
          <div class="flex flex-col p-2 ">
            <h2 class="text-4xl  font-bold text-red-600">{{unique_domain_length}}</h2>
            <span class=" text-sm font-semibold text-gray-500">Domain Breaches </span>
          </div>
          <div class="flex flex-col">
            <h2 class="text-4xl font-bold text-red-600">{{domain_length}}</h2>
            <span class="text-sm font-semibold text-gray-500">Breaches in total </span>
          </div>
        </div>
        <div class="font-semibold text-gray-500 w-fit mx-auto mt-8 text-base ">There are <span class="text-red-600">
          {{unique_domain_length}}</span> unique domains breach , <span class="text-red-600">{{domain_length}}</span> times in total. </div>
      </div>
    </div>
    <div class=" border-2 border-red-200 xl:w-1/2 w-full flex-col w-full bg-white shadow-lg p-4 rounded-lg  flex ">
      <div class="flex gap-4 flex-col lg:flex-row  items-center pb-4 ">
        <h1 class="font-semibold text-left text-lg"><span class="text-red-600">Domain</span> Leak Source</h1>
        <select class="px-2 py-1 font-medium rounded-lg border-2 border-red-400 text-sm bg-white outline-none"
          name="cards">
          <option selected value="">Select domain </option>
          <option value="123345566"> admin@admin.com</option>
          <option value="123345566"> example.com </option>
        </select>
      </div>
      <div class="flex gap-4 flex-col lg:flex-row  items-center justify-center w-full">
        <div class="w-2/5 flex items-center mx-auto justify-center">
          <div
            class=" flex items-center justify-center p-2 h-36 w-36 bg-gradient-to-l  from-yellow-500 to-red-500 rounded-full ">
            <div class="flex items-center justify-center w-32 h-32 bg-white  rounded-full">
              <span
                class="shadow-2xl shadow-gray-400/70   rounded-full h-16 w-16 border-2 border-gray-200 hover:border-gray-300 transition-all duration-300 ease-in-out flex items-center justify-center font-bold text-4xl text-red-600">5</span>
            </div>
          </div>
        </div>
        <div class="md:w-3/5 w-5/6 items-left justify-start flex flex-col  ">
          <h1 class="text-left text-sm text-gray-600 font-semibold tracking-wide"> There are <span
              class="text-red-500">5</span>
            data leak sources . Here are the top data leak sources with the most findings : </h1>
          <div class="w-full mt-2 border-t-2 border-gray-300 h-[120px] overflow-y-auto">
            <ol class="list-disc px-4 py-2 font-bold text-gray-800 pt-4 flex items-left flex-col gap-2">
              <li class="flex items-center gap-2 text-sm "> <span
                  class="text-sm  border border-red-400 bg-red-200 px-2 rounded-md ">23</span> example.com</li>
              <li class="flex items-center gap-2 text-sm"> <span
                  class="text-sm  border border-red-400 bg-red-200 px-2 rounded-md ">3</span> shyambistsa.tech</li>
              <li class="flex items-center gap-2 text-sm"> <span
                  class="text-sm  border border-red-400 bg-red-200 px-2 rounded-md ">6</span> Telegram.org</li>
              <li class="flex items-center gap-2 text-sm"> <span
                  class="text-sm  border border-red-400 bg-red-200 px-2 rounded-md ">12</span> sudipbogati.com.np</li>
              <li class="flex items-center gap-2 text-sm"> <span
                  class="text-sm  border border-red-400 bg-red-200 px-2 rounded-md ">9</span> greentick.com</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="overflow-x-auto shadow-lg border-2 border-gray-400 rounded-xl mx-4">
    <div class=" overflow-y-auto border border-gray-200">
      <table class=" min-w-full bg-white">
        <thead class="bg-gray-100 text-center border-b-2 border-gray-400 text-gray-800">
          <tr>
            <th
              class="w-fit py-2 px-2 text-center border-r-2 border-gray-400 uppercase font-semibold text-sm "
              rowspan="2">Name</th>
            <th
              class="w-fit py-2 px-2 text-center border-r-2 border-gray-400 uppercase font-semibold text-sm"
              rowspan="2">IP</th>
            <th
              class="w-fit py-2 px-2 text-center border-r-2 border-gray-400 uppercase font-semibold text-sm"
              rowspan="2">Severity Level</th>
            <th
              class="w-fit py-2 px-2 text-center mx-auto border-b-2 border-gray-400 uppercase font-semibold text-sm"
              colspan="2">Sources</th>
            </th>
          </tr>
          <tr>
            <th
              class="w-fit py-2 px-2 text-center  border-r-2 border-gray-400 uppercase font-semibold text-sm">
              IP</th>
            <th
              class="w-fit py-2 px-2 text-center border-l-2 border-gray-400 uppercase font-semibold text-sm">
              Domain
            </th>
          </tr>
        </thead>
        <tbody class="text-gray-700">
          {% for domain in domains %}
          <tr>
            <td class="text-center px-4 py-3">{{domain.name}}</td>
            <td class="text-center px-4 py-3">{{domain.domain_ip}}.</td>
            <td class="px-4 py-3 text-center"><span
                class="bg-yellow-200 px-2 text-xs border border-yellow-500 rounded-md flex items-center w-fit mx-auto ">{{domain.severity_level}}
              </span></td>
            <td class="px-4 py-3 text-center">{{domain.source_ip}}</td>
            <td class="px-4 py-3 text-center">{{domain.source_domain}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}