<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <nav class="flex justify-between px-4 py-5 underline underline-offset-2 shadow-xl">
            <a href="#">
                <img src="https://i0.wp.com/gtn.com.np/storage/2022/09/greentick-nepal-pvt-lt.png?fit=2294%2C755&ssl=1"
                width="140" height="10" alt="">
            </a>
            <a href="#"><h1 class="text-2xl font-bold">Dashboard</h1></a>
        </nav>
    </header>
    <div class="bg-gray-700 w-full">
        <h1 class="text-white text-4xl text-center mt-4 font-semibold">Contact Us</h1>
        <div class="flex text-white w-full">
            <div class="w-fit mx-4 my-4">
                <iframe class="rounded-lg" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d855.5940267937395!2d85.33379755301965!3d27.70893246167645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb190b6cfae8cd%3A0xb54327d56a797ef6!2z4KSc4KWN4KSe4KS-4KSo4KWH4KS24KWN4KS14KSwLCDgpJXgpL7gpKDgpK7gpL7gpKHgpYzgpIEgNDQ2MDA!5e0!3m2!1sne!2snp!4v1718012394570!5m2!1sne!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="w-1/2">
                <form action="" class="flex flex-col">
                    <label class="font-medium p-2" for="full_name">Name</label>
                    <input class="p-2 rounded-lg text-gray-900" type="text" name="full_name" id="full_name">
                    <label class="font-medium p-2" for="email">Email</label>
                    <input class="p-2 rounded-lg text-gray-900" type="email" name="email" id="email">
                    <label class="font-medium p-2" for="subject">Subject</label>
                    <input class="p-2 rounded-lg text-gray-900" type="text" name="subject" id="subject">
                    <label class="font-medium p-2" for="message">Message</label>
                    <textarea class="p-4 text-gray-900 rounded-lg" name="message" id="message"></textarea>
                    <button class="mt-4 text-white bg-red-700 rounded-lg w-1/2 p-2" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>