<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <link rel="stylesheet" href="/static/css/report.css"> -->
    <title>Report</title>
    <style>

        .title-header {
            font-weight: 600;
            font-size: 20px;
        }

        .breach-count{
            font-weight: 500px;
            font-size: 18px;
            margin-bottom: 10px;
        }
        .table-container {
            width: 100%;
            border-collapse: collapse;
            display: block;
            
        }

        .table-header {
            display: block;
            width: 100%;
            background-color: #f7fafc;
            color: #4a5568;
            font-weight: bold;
            text-align: left;
        }

        .table-header-row {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        .table-header-cell {
            padding: 8px;
            border: 1px solid #e2e8f0;
            display: table-cell;
        }

        .table-body {
            display: block;
            width: 100%;
        }

        .table-row {
            display: table;
            width: 100%;
            table-layout: fixed;
            background-color: #fff;
            border: 1px solid #e2e8f0;
        }

        .table-cell {
            width: fit-content;

            padding: 8px;
            border: 1px solid #e2e8f0;
            text-align: left;
            display: table-cell;
        }
    </style>
</head>

<body>
    <header style="display: flex; justify-content: space-between;">
        <div style="font-weight: 700; font-size: 26px;"> Dark Web Monitoring Report </div>
        <div> <img src="/static/images/logo-green1.png" width="140" alt="logo"></div>
    </header>


    {% if domains %}
    <div class="header-container">
        <h1 class="title-header">Domain Breaches</h1>
        <div>
            <div class="breach-count">Total Domain breaches : <span>{{ domains |length }}</span> </div>
        </div>
    </div>
    <div style="padding: 0 10px;">
        <table class="table-container">
            <thead class="table-header">
                <tr class="table-header-row">
                    <th class="table-header-cell">Name</th>
                    <th class="table-header-cell">Domain IP</th>
                    <th class="table-header-cell">Source IP</th>
                    <th class="table-header-cell">Source Domain</th>
                    <th class="table-header-cell">Breach Date</th>
                </tr>
            </thead>
            <tbody class="table-body">
                {% for domain in domains %}
                <tr class="table-row">
                    <td class="table-cell">{{ domain.name }}</td>
                    <td class="table-cell">{{ domain.domain_ip }}</td>
                    <td class="table-cell">{{ domain.source_ip }}</td>
                    <td class="table-cell">{{ domain.source_domain }}</td>
                    <td class="table-cell">{{ domain.breach_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}


    {% if pii %}
    <div style="margin-top: 30px;" class="header-container ">
        <h1 class="title-header">PII Breaches</h1>
        <div>
            <div class="breach-count">Total PII breaches : <span class="font-normal">{{ pii |length }}</span></div>
        </div>
    </div>

    <div>
        <table class="table-container">
            <thead class="table-header">
              <tr class="table-header-row">
                <th class="table-header-cell">Name</th>
                <th class="table-header-cell">Breach Date</th>
                <th class="table-header-cell">Posted Date</th>
                <th class="table-header-cell">Breach IP</th>
                <th class="table-header-cell">Source Domain</th>
                <th class="table-header-cell">Threat Type</th>
                <th class="table-header-cell">Type of Data</th>
                <th class="table-header-cell">Source</th>
                <th class="table-header-cell">Personal Email</th>
                <th class="table-header-cell">Phone</th>
              </tr>
            </thead>
            <tbody class="table-body">
              {% for exposure in pii %}
              <tr class="table-row">
                <td class="table-cell">{{ exposure.name }}</td>
                <td class="table-cell">{{ exposure.breach_date }}</td>
                <td class="table-cell">{{ exposure.posted_date }}</td>
                <td class="table-cell">{{ exposure.breach_ip }}</td>
                <td class="table-cell">{{ exposure.source_domain }}</td>
                <td class="table-cell">{{ exposure.threat_type }}</td>
                <td class="table-cell">{{ exposure.type_of_data }}</td>
                <td class="table-cell">{{ exposure.source }}</td>
                <td class="table-cell">{{ exposure.personal_email }}</td>
                <td class="table-cell">{{ exposure.phone }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          
    </div>
    {% endif %}


    {% if cards %}
    <div class="header-container" >
        <h1 class="title-header">Cards Breaches</h1>
        <div >
            <div class="breach-count">Total Card breaches : <span >{{ cards |length }}</span></div>
        </div>
    </div>

    <div>
        <table class="table-container">
            <thead class="table-header">
              <tr class="table-header-row">
                <th class="table-header-cell">Card BIN Number</th>
                <th class="table-header-cell">Card Type</th>
                <th class="table-header-cell">Expiry Date</th>
                <th class="table-header-cell">CVV</th>
                <th class="table-header-cell">Card Holder Name</th>
                <th class="table-header-cell">Issuing Bank</th>
                <th class="table-header-cell">Breach Date</th>
                <th class="table-header-cell">Posted Date</th>
                <th class="table-header-cell">Breach Source</th>
                <th class="table-header-cell">Last Used Date</th>
                <th class="table-header-cell">Breach Source Domain</th>
              </tr>
            </thead>
            <tbody class="table-body">
              {% for card in cards %}
              <tr class="table-row">
                <td class="table-cell">{{ card.card_bin_number }}</td>
                <td class="table-cell">{{ card.card_type }}</td>
                <td class="table-cell">{{ card.expiry_date }}</td>
                <td class="table-cell">{{ card.cvv }}</td>
                <td class="table-cell">{{ card.card_holder_name }}</td>
                <td class="table-cell">{{ card.issuing_bank }}</td>
                <td class="table-cell">{{ card.breach_date }}</td>
                <td class="table-cell">{{ card.posted_date }}</td>
                <td class="table-cell">{{ card.breach_source }}</td>
                <td class="table-cell">{{ card.last_used_date }}</td>
                <td class="table-cell">{{ card.breach_source_domain }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    {% endif %}





    {% if stealer_log %}

    <div class="header-container">
        <h1 class="title-header">Stealer Logs </h1>
        <div>
            <div class="breach-count">Total logs : <span class="font-normal">{{ cards |length }}</span></div>
        </div>
    </div>


    <div >
        <table class="table-container">
            <thead class="table-header">
              <tr class="table-header-row">
                <th class="table-header-cell">ID</th>
                <th class="table-header-cell">Date Detected</th>
                <th class="table-header-cell">Data Type</th>
                <th class="table-header-cell">Source</th>
              </tr>
            </thead>
            <tbody class="table-body">
              {% for item in stealer_log %}
              <tr class="table-row">
                <td class="table-cell">{{ item.log_id }}</td>
                <td class="table-cell">{{ item.date_detected }}</td>
                <td class="table-cell">{{ item.data_type }}</td>
                <td class="table-cell">{{ item.source }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          
    </div>

    {% endif %}








    {% if black_market %}
    <div class="header-container ">
        <h1 class="title-header ">Black Market </h1>

    </div>
    <table class="table-container">
        <thead class="table-header">
          <tr class="table-header-row">
            <th class="table-header-cell">ID</th>
            <th class="table-header-cell">Source</th>
            <th class="table-header-cell">Stealer Log Preview</th>
            <th class="table-header-cell">Related Assets</th>
            <th class="table-header-cell">Price</th>
            <th class="table-header-cell">Status</th>
            <th class="table-header-cell">Obtain Progress</th>
            <th class="table-header-cell">Discovery Date</th>
            <th class="table-header-cell">Incident</th>
          </tr>
        </thead>
        <tbody class="table-body">
          {% for item in black_market %}
          <tr class="table-row">
            <td class="table-cell">{{ item.id }}</td>
            <td class="table-cell">{{ item.source }}</td>
            <td class="table-cell">{{ item.stealer_log_preview }}</td>
            <td class="table-cell">{{ item.related_assets }}</td>
            <td class="table-cell">{{ item.price }}</td>
            <td class="table-cell">{{ item.status }}</td>
            <td class="table-cell">{{ item.obtain_progress }}</td>
            <td class="table-cell">{{ item.discovery_date }}</td>
            <td class="table-cell">{{ item.incident }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
    {% endif %}
</body>

</html>