{% extends 'base.html' %}
{% block title %}Black Market{% endblock title %}

{% block content %}
<div>
    <div class="overflow-x-auto">
        <div class="shadow rounded border border-gray-200">
          <table class="min-w-full bg-white">
            <thead class="bg-gray-300 text-gray-800">
              <tr>
                <th class="w-1/10 px-4 py-3 text-left uppercase font-semibold text-sm">Black Market ID</th>
                <th class="w-1/10 px-4 py-3 text-left uppercase font-semibold text-sm">Source</th>
                <th class="w-1/10 px-4 py-3 text-left uppercase font-semibold text-sm">Stealer Log preview</th>
                <th class="w-1/10 px-4 py-3 text-left uppercase font-semibold text-sm">Related assets</th>
                <th class="w-1/10 px-4 py-3 text-left uppercase font-semibold text-sm">Price</th>
                <th class="w-1/10 px-4 py-3 text-left uppercase font-semibold text-sm">Status</th>
                <th class="w-1/10 px-4 py-3 text-left uppercase font-semibold text-sm">Obtain progress</th>
                <th class="w-1/10 px-4 py-3 text-left uppercase font-semibold text-sm">Discovery Date</th>
                <th class="w-1/10 px-4 py-3 text-left uppercase font-semibold text-sm">Incident</th>
                <th class="w-1/10 px-4 py-3 text-left uppercase font-semibold text-sm">Actions</th>
              </tr>
            </thead>
            <tbody class="text-gray-700">
              <tr>
                <td class="px-4 py-3 text-left"><a class="hover:text-blue-500"
                    href="mailto:jonsmith@mail.com">abc</a></td>
                <td class="px-4 py-3 text-left">abc</td>
                <td class="px-4 py-3 text-left">abc</td>
                <td class="px-4 py-3 text-left">abc</td>
                <td class="px-4 py-3 text-left">abc</td>
                <td class="px-4 py-3 text-left">abc</td>
                <td class="px-4 py-3 text-left">abc</td>
                <td class="px-4 py-3 text-left">abc</td>
                <td class="px-4 py-3 text-left">abc</td>
                <td class="px-4 py-3 text-left">abc</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
{% endblock content %}