{% extends 'base.html' %}
{% block title %}Organization Details{% endblock title %}

{% block content %}
<div class="bg-gray-800 text-white p-8 rounded-lg shadow-lg mx-2 my-2">
    <h1 class="text-3xl font-bold mb-4">ORGANIZATION DETAILS</h1>
    <div class="mb-4">
        <p class="font-semibold">Organization Name:</p>
        <p class="bg-gray-700 p-2 rounded">Bank of Kathmandu</p>
    </div>
    <div class="mb-4">
        <p class="font-semibold">Description:</p>
        <p class="bg-gray-700 p-2 rounded">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque qui molestias quidem hic asperiores ab quo similique ipsa. Distinctio possimus cumque libero magni harum! Id nihil neque ullam consequatur dolor totam ipsam fugiat ad eligendi ut excepturi cupiditate amet deleniti culpa dignissimos, in molestias perspiciatis. Similique libero numquam officiis possimus voluptate itaque dolorem atque, quibusdam reiciendis quos velit, quia, facilis maiores ab nihil. Eos non libero rerum sit magni consequuntur reprehenderit tempora, officia numquam ducimus veritatis maxime quos quae dolorum dignissimos delectus qui, necessitatibus ratione ipsa fugiat culpa distinctio accusantium magnam recusandae! Nam perferendis facilis quae voluptatem delectus similique veritatis.
        </p>
    </div>
    <div class="mb-4">
        <p class="font-semibold">Contact Information:</p>
        <div class="bg-gray-700 p-2 rounded">
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit.</p>
        </div>
    </div>
    <div class="mb-4">
        <p class="font-semibold">Dark Web Activity:</p>
        <div class="bg-gray-700 p-2 rounded">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, iste.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, iste.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, iste.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, iste.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, iste.</p>
        </div>
    </div>
    <div class="mb-4">
        <p class="font-semibold">Risk Level:</p>
        <p class="bg-gray-700 p-2 rounded">LEVEL-DEFINE</p>
    </div>
</div>

{% endblock content %}
