{% extends 'base.html' %}
{% block title %}Organization Details{% endblock title %}

{% block content %}
<h1 class="text-center pb-14 pt-4 font-bold text-2xl ">Organizational <span class="text-red-600">Details</span> </h1>
<div class="flex xl:w-5/6 mx-auto w-full flex-col xl:flex-row justify-center">
    <div class="pl-6 items-center xl:items-start flex flex-col w-fit xl:w-2/3 ">
        <div class="flex border-b-4 border-gray-300 w-fit  pb-4  gap-4 ">
            <div class="border-4 border-red-500 w-fit rounded-full p-4 "> <img src="/static/images/organization.png" width="50" height="50" alt="organization-logo"> </div>
            <div class="flex-col ">
                <h1 class="font-semibold text-lg ">ABC Nepal Pvt. Ltd. </h1>
                <p class="font-medium text-gray-800"> Gyaneshwor, Kathmandu </p>
                <span class="text-gray-600 text-sm"> Monitoring since : <time> 24 March, 2023 </time> </span>
            </div>
        </div>
        <div class="border-b-4 border-gray-300 flex flex-col gap-4 mt-4 w-fit pb-4">
            <div class="flex gap-2 items-center  "> <span><img src="/static/images/organization (1).png" width="34" height="34" alt="name"></span> Organization Name : <span class="font-semibold"> ABC Nepal Pvt. Ltd. </span> </div>
            <div class="flex gap-2 items-center font text-base  "> <span><img src="/static/images/location.png" width="34" height="34" alt="address"></span>  Address : <span class="font-semibold"> Gyaneshwor, Kathmandu, Nepal </span> </div>
            <div class="flex gap-2 items-center "> <img src="/static/images/estd.png" height="32" width="32" alt="estd"> Established on : <span class="font-semibold"> 12 March, 2011 </span> </div>
        </div>
    
        <div class="mt-6 xl:w-3/4 w-full ">
            <h1 class="font-semibold text-xl mb-2 ">About </h1>
            <p class="text-gray-700 ">ABC Nepal Pvt Ltd is a premier service-based company in Nepal, dedicated to providing top-notch solutions across various sectors. Specializing in IT services, consultancy, and customer support, ABC Nepal Pvt Ltd combines cutting-edge technology with expert knowledge to meet the dynamic needs of its clients. With a strong focus on quality, innovation, and customer satisfaction, the company has established itself as a trusted partner for businesses seeking to enhance their operational efficiency and drive growth. Committed to excellence, ABC Nepal Pvt Ltd leverages its extensive industry experience and skilled workforce to deliver tailor-made services that align with the unique requirements of each client, ensuring sustainable success in a competitive market.</p>
        </div>
    </div>
    <div class="w-fit px-4  flex flex-row xl:flex-col gap-3 mt-4 p-4   items-center justify-center">
        <span class="border-2 border-gray-400 shadow-2xl overflow-hidden rounded-l-lg"> <img src="/static/images/emp1.jpg" height="200" width="250" alt="employee"> </span>
        <span class="border-2 border-gray-400 shadow-2xl overflow-hidden rounded-l-lg"> <img src="/static/images/emp2.jpg" height="200" width="250" alt="employee"> </span>
        <span class="border-2 border-gray-400 shadow-2xl overflow-hidden rounded-l-lg"> <img src="/static/images/emp3.jpg" height="200" width="250" alt="employee"> </span>
        
    </div>
</div>



<div class="flex xl:w-5/6 mt-4  px-6 mx-auto w-full flex-col xl:flex-row justify-center">
    <div class="mt-6 w-full w-fit xl:w-2/3">
        <h1 class="font-semibold text-xl mb-2">Vision of ABC Nepal Pvt Ltd</h1>
        <p class="text-gray-700 ">"To be the leading service-based company in Nepal, recognized for our commitment to excellence, innovation, and customer satisfaction. We aspire to empower businesses with cutting-edge solutions, fostering sustainable growth and setting new benchmarks in the industry. Our vision is to create lasting value for our clients, employees, and community by driving progress and embracing the future with integrity and dedication."</p>
        <div class="max-w-4xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
            <ul class="list-disc list-inside space-y-4 text-lg">
                <li class="text-gray-700">To be the leading service-based company in Nepal.</li>
                <li class="text-gray-700">To be recognized for our commitment to excellence, innovation, and customer satisfaction.</li>
                <li class="text-gray-700">To empower businesses with cutting-edge solutions.</li>
                <li class="text-gray-700">To foster sustainable growth and set new benchmarks in the industry.</li>
                <li class="text-gray-700">To create lasting value for our clients, employees, and community.</li>
                <li class="text-gray-700">To drive progress and embrace the future with integrity and dedication.</li>
            </ul>
        </div>
    </div>
    <div class="w-fit px-4  flex flex-row xl:flex-col gap-3 p-4 items-center justify-center"">
        <span class="border-2 border-gray-400 shadow-2xl overflow-hidden rounded-l-lg"><img src="/static/images/emp3.jpg" width="250" height="200" alt="vision"></span>
        <span class="border-2 border-gray-400 shadow-2xl overflow-hidden rounded-l-lg"><img src="/static/images/emp2.jpg" width="250" height="200" alt="vision"></span>
        <span class="border-2 border-gray-400 shadow-2xl overflow-hidden rounded-l-lg"><img src="/static/images/emp1.jpg" width="250" height="200" alt="vision"></span>
    </div>
</div>

{% endblock content %}
