{% extends 'base.html' %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
<div class="bg-gray-800 text-white p-8 rounded-lg shadow-lg mx-2 my-2">
    <h1 class="text-3xl font-bold mb-4">USER PROFILE</h1>
    <div class="flex items-center mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-16 h-16 rounded-full">
            <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
        </svg>
        <div class="ml-4">
            <p class="font-semibold">Full Name</p>
            <p class="bg-gray-700 p-2 rounded">{{user.full_name}}</p>
        </div>
    </div>
    <div class="mb-4">
        <p class="font-semibold">Email:</p>
        <p class="bg-gray-700 p-2 rounded">{{user.email}}</p>
    </div>
    <div class="mb-4">
        <p class="font-semibold">Bio:</p>
        <p class="bg-gray-700 p-2 rounded">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, quasi?</p>
    </div>
    <div class="mb-4">
        <p class="font-semibold">Location:</p>
        <p class="bg-gray-700 p-2 rounded">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, id.</p>
    </div>
    <button class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded">Edit Profile</button>
</div>



{% endblock content %}
