{% extends 'base.html' %}

{% block title %}
Profile
{% endblock title %}
 
{% block content %}
<div class="bg-white text-gray-900 p-8 rounded-lg shadow-lg mx-2 my-2 ">
    <h1 class="text-3xl font-bold mb-4">Account Information</h1>
    <hr class="border-t border-gray-300 my-6">

    <div class="flex flex-row justify-between items-center">
        <p class="font-semibold">Name</p>
        <p class="font-semibold">{{user.full_name}}</p>
    </div>

    <hr class="border-t border-gray-300 my-6">

    <div class="flex flex-row justify-between items-center">
        <div class="flex flex-col">
            <p class="font-semibold">Email:</p>
            <small>Account email used to login to platform and get notification, two factor validation code etc.
            </small>
        </div>
        <p class="font-semibold">{{user.email}}</p>
    </div>
    <hr class="border-t border-gray-300 my-6">
    <div class="flex flex-row justify-between items-center">
        <div class="flex flex-col">
            <p class="font-semibold">Password</p>
            <small>You can use this password along with your email to login to platform, please keep your password strong and change frequently.</small>
        </div>
        <p>*********</p>
        </div>
    <a href="#" class="text-blue-500 underline">Edit</a>
    <hr class="border-t border-gray-300 my-6">
    <div class="flex flex-row justify-between items-center">
        <p class="font-semibold">Country</p>
        <p class="font-semibold">🇳🇵NP</p>
    </div>
    <hr class="border-t border-gray-300 my-6">
    <div class="flex flex-row justify-between items-center">
        <div class="flex flex-col">
            <p class="font-semibold">Date Created</p>
            <small>Creation date of your account.</small>
        </div>        <p class="font-semibold">2024-06-01</p>
    </div>
    <hr class="border-t border-gray-300 my-6">
    <div class="flex flex-row justify-between items-center">
        <div class="flex flex-col">
            <p class="font-semibold">Last Login Track</p>
            <small>Date and time when your account was last signed in.</small>
        </div>
        <p class="font-semibold">{{user.last_login}}</p>
    </div>
    <hr class="border-t border-gray-300 my-6">
    <div class="flex flex-row justify-between items-center">
        <div class="flex flex-col">
            <p class="font-semibold">Last Login IP</p>
            <small>IP address from which your account was last signed in.</small>
        </div>
        <p class="font-semibold font-mono">111.111.211.114</p>
    </div>
</div>
{% endblock content %}