{% extends 'base.html' %}
{% block title %}Users{% endblock title %}

{% block content %}
<div class="mx-4 my-4">
  <div class="mx-4 my-4">
    <div class="flex flex-col w-full xl:w-5/6  mx-auto gap-6 lg:flex-row mb-6">
      <div class="flex flex-col border-2 border-red-200 w-full xl:w-1/2 shadow-lg bg-white p-6 rounded-lg">
        <div class="flex items-center gap-2 text-3xl font-semibold mx-auto">Users <span class="border-2 border-gray-800 rounded-full p-2"> <img src="/static//images/user.svg"
              height="17" width="17" alt="cards"></span> </div>
        <div class=" flex flex-col ">
          <div class="flex items-center justify-around w-full gap-2 pt-4">
            <div class="flex flex-col p-2 ">
              <h2 class="text-6xl  font-bold text-red-600">5</h2>
              <span class=" text-lg">User Breaches </span>
            </div>
            <div class="flex flex-col">
              <h2 class="text-6xl font-bold text-red-600">35</h2>
              <span class="text-lg">Breaches in total </span>
            </div>
          </div>
          <div class="font-semibold text-gray-600 w-fit mx-auto mt-8 text-lg ">There are <span class="text-red-600">
              5</span> unique users breach , <span class="text-red-600">35 </span> times in total. </div>
        </div>
      </div>
      <div class=" xl:w-1/2 w-full flex-col w-full bg-white shadow-lg p-4 rounded-lg  flex border-2 border-red-200">
        <div class="flex gap-4 flex-col lg:flex-row  items-center pb-4 ">
          <h1 class="font-semibold text-left text-lg">Data Leak Source</h1>
          <select class="px-2 py-1 font-medium rounded-lg border-2 border-red-400 bg-white outline-none" name="users">
            <option selected value="">Select user </option>
            <option value="123345566">John Doe</option>
            <option value="123345566">Steve Smith</option>
          </select>
        </div>
        <div class="flex gap-4 flex-col lg:flex-row  items-center justify-center w-full">
          <div class="w-2/5 flex items-center mx-auto justify-center">
            <div
              class=" flex items-center justify-center p-2 h-48 w-48 bg-gradient-to-l from-yellow-500 to-red-500 rounded-full ">
              <div class="flex items-center justify-center w-44 h-44 bg-white  rounded-full">
                <span
                  class="shadow-2xl shadow-gray-400/70   rounded-full h-24 w-24 border-2 border-gray-200 flex items-center justify-center font-bold text-4xl text-red-800">4</span>
              </div>
            </div>
          </div>
          <div class="w-3/5 items-left justify-start flex flex-col  ">
            <h1 class="text-left text-gray-600 font-semibold tracking-wide"> There are <span
                class="text-red-500">4</span> data leak sources . Here are the top data leak sources with the most
              findings : </h1>
            <ol class="list-disc px-4 py-2 font-bold text-gray-800 pt-4 flex items-left flex-col gap-2">
              <li class="flex items-center gap-2 "> <span
                  class="text-base border border-red-400 bg-red-200 px-2 rounded-md ">23</span> example.com</li>
              <li class="flex items-center gap-2 "> <span
                  class="text-base border border-red-400 bg-red-200 px-2 rounded-md ">6</span> Telegram.org</li>
              <li class="flex items-center gap-2 "> <span
                  class="text-base border border-red-400 bg-red-200 px-2 rounded-md ">9</span> greentick.com</li>
              <li class="flex items-center gap-2 "> <span
                  class="text-base border border-red-400 bg-red-200 px-2 rounded-md ">9</span> greentick.com.np</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="overflow-x-auto">
      <div class="shadow rounded border border-gray-200">
        <table class="min-w-full bg-white">
          <thead class="bg-gray-300 text-gray-800">
            <tr>
              <th class="w-1/5 px-4 py-3 text-left uppercase font-semibold text-sm">Name</th>
              <th class="w-1/5 px-4 py-3 text-left uppercase font-semibold text-sm">Breach Date</th>
              <th class="w-1/5 px-4 py-3 text-left uppercase font-semibold text-sm">Breach IP</th>
              <th class="w-1/5 px-4 py-3 text-left uppercase font-semibold text-sm">Domain</th>
              <th class="w-1/5 px-4 py-3 text-left uppercase font-semibold text-sm">Threat type</th>
              <th class="w-1/5 px-4 py-3 text-left uppercase font-semibold text-sm">Severity Level</th>
              <th class="w-1/5 px-4 py-3 text-left uppercase font-semibold text-sm">Type of Data</th>
              <th class="w-1/5 px-4 py-3 text-left uppercase font-semibold text-sm">Source</th>
              <th class="w-1/5 px-4 py-3 text-left uppercase font-semibold text-sm">Personal Email</th>
              <th class="w-1/5 px-4 py-3 text-left uppercase font-semibold text-sm">Phone</th>
            </tr>
          </thead>
          <tbody class="text-gray-700">
            <tr>
              <td class="px-4 py-3 text-left">John Doe</td>
              <td class="px-4 py-3 text-left">2027-03-05</td>
              <td class="px-4 py-3 text-left">192....</td>
              <td class="px-4 py-3 text-left">example.com</td>
              <td class="px-4 py-3 text-left">Phishing</td>
              <td class="px-4 py-3 text-left">Medium</td>
              <td class="px-4 py-3 text-left">personal</td>
              <td class="px-4 py-3 text-left">Unknown</td>
              <td class="px-4 py-3 text-left">john@example.com</td>
              <td class="px-4 py-3 text-left">03780.....</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}